## Input Output

**input ():** This function first takes the input from the user and converts it into a string. The type of the returned object always will be <type ‘str’>. It does not evaluate the expression it just returns the complete statement as String. For example, Python provides a built-in function called input which takes the input from the user.

In [183]:
name = input("What is ur name? \n")
print("Hello "+ name)

What is ur name?
Nirob
Hello Nirob

## Comment
for single line ; #This is the comment

for multiple line ; """ your code """

In [184]:
# This is a single line comment

print("Single line comment done!")

Single line comment done!

In [185]:
"""
This is a comment
written in
more than just one line
"""
print("Multiple line comment done!")

Multiple line comment done!

## Variables

=> Variables are containers for storing data values.

=> Python has no command for declaring a variable.

=> A variable is created the moment you first assign a value to it.

## Casting

* If you want to specify the data type of a variable, this can be done with casting.

In [186]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

## Assigning value. No need to declear. All data will be save as "String".

In [187]:
myString = "String" # Stored as Str
myInteger = 5   # Stored as int
myFloat = 3.1415926 # Stored as float
myBool = True # Stored as bool

## Test of a variable's type

In [188]:
print(type(myFloat))

<class 'float'>

## Python always take input as form of "String"

## Variables Name

1. A variable name must start with a letter or the underscore character

2. A variable name cannot start with a number

3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

4. Variable names are case-sensitive (age, Age and AGE are three different variables)

## Naming Convension

1. Camel Case --> Each word, except the first, starts with a capital letter

2. Pascal Case --> Each word starts with a capital letter

3. Snake Case -->  Each word is separated by an underscore character

* myVariableName = "John" # Camel Case

* MyVariableName = "John"  # Pascal Case

* my_variable_name = "John" # Snake Case

## Unpack a Collection

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [189]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

## Global Variables

Variables that are created outside of a function (as in all of the examples above) are known as global variables.

* Global variables can be used by everyone, both inside of functions and outside.

* If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [190]:
x = "Awesome"

def myfunc():
  x = "Asthetic"
  print("( inside function ) You are " + x)

myfunc()

print("( outside of myfunc )You are " + x)

( inside function ) You are Asthetic
( outside of myfunc )You are Awesome

## Data Type

Python has the following data types built-in by default, in these categories:

1. Text Type:	str
2. Numeric Types:	int, float, complex
3. Sequence Types:	list, tuple, range
4. Mapping Type:	dict
5. Set Types:	set, frozenset
6. Boolean Type:	bool
7. Binary Types:	bytes, bytearray, memoryview
8. None Type:	NoneType

## Complex Data type

In [191]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

## Random Number

In [192]:
import random

print(random.randrange(1, 10))

2

# Strings

## Multiline Strings

In [193]:
# Using three quotes

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.\n"""
print(a)

#Using three single quotes

b = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(b)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

## Indexing

## Print all the charecter in the string

In [194]:
a = "Hello, World!"
print(a[1]) #Remember the first character has the position 0)

e

## Looping through String

In [195]:
for x in a:
  print(x)

H
e
l
l
o
,

W
o
r
l
d
!

## String length

In [196]:
print(len(a))

13

## Sub-string checking using loop

In [197]:
if "free" in txt:
  print("Yes, 'free' is present.")
else:
    print("No, 'free' is not present.")

Yes, 'free' is present.

## Slicing

In [198]:
print(a[2:5])

llo

## Slice From the Start

In [199]:
print(a[:5])

Hello

## Slice To the End

In [200]:
print(a[2:])

llo, World!

## Negative Indexing
* Second negative index exclusive

In [201]:
print(a[-5:-2])

orl

## Upper Case

In [202]:
print(a.upper())

HELLO, WORLD!

## Lower Case

In [203]:
print(a.lower())

hello, world!

## Remove Whitespace

In [204]:
print(a.strip())

Hello, World!

## Replace String

In [205]:
print(a.replace("H", "J"))

Jello, World!

## Split String

In [206]:
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

## String Concatenation

In [207]:
firstName = "Shahadat"
lastName = "Nirob"
fullName = firstName +" "+ lastName
print(fullName)

Shahadat Nirob

# Boolean Values

* You can evaluate any expression in Python, and get one of two answers, True or False

* When you compare two values, the expression is evaluated and Python returns the Boolean answer

* When you run a condition in an if statement, Python returns True or False

* The bool() function allows you to evaluate any value, and give you True or False in return

* One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a __len__ function that returns 0 or False

* You can create functions that returns a Boolean Value

## Bool Check

In [208]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

## Evaluate Values and Variables
The bool() function allows you to evaluate any value, and give you True or False in return

In [209]:
print(bool("Hello"))
print(bool(15))

True
True

# Most Values are True

* Almost any value is evaluated to True if it has some sort of content.

* Any string is True, except empty strings.

* Any number is True, except 0.

* Any list, tuple, set, and dictionary are True, except empty ones.

# Some Values are False

* In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [243]:
# True Items

print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

print("\n")
# False Items

print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

True
True
True


False
False
False
False
False
False
False

## One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a **__len__** function that returns 0 or False:

In [211]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

## Functions can Return a Boolean

In [212]:
def myFunction() :
  return True

print(myFunction())

True

## Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

# Conditional Logic

## Short Hand If ... Else
* This technique is known as Ternary Operators, or Conditional Expressions.

In [213]:
a = 2
b = 330
print("A") if a > b else print("B")

B

## And

In [214]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

## Or

In [215]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

## The pass Statement

In [216]:
a = 33
b = 200

if b > a:
  pass

# Loops
## While Loop
* With the while loop we can execute a set of statements as long as a condition is true.
* Note: remember to increment i, or else the loop will continue forever known as "Infinite Loop"

## Break
* With the break statement we can stop the loop even if the while condition is true

In [217]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

## The continue Statement

In [218]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

## The else Statement

In [219]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("\ni is no longer less than 6")

1
2
3
4
5

i is no longer less than 6

## For Loops
* A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

* This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

* With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [220]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

## Looping Through a String

In [221]:
for x in "banana":
  print(x)

b
a
n
a
n
a

## The range() Function
* To loop through a set of code a specified number of times, we can use the **range()** function,
* The **range()** function returns a sequence of numbers, starting from **0** by default, and increments by **1** (by default), and ends at a **specified number**

In [222]:
for x in range(6):
  print(x)

0
1
2
3
4
5

* Note that range(6) is not the values of 0 to 6, but the values 0 to 5.

* The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

In [223]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

# Nested Loops

* A nested loop is a loop inside a loop.
* The "inner loop" will be executed one time for each iteration of the "outer loop":

In [224]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# Functions
* A function is a block of code which only runs when it is called.

* You can pass data, known as parameters, into a function.

* A function can return data as a result.

## Creating a Function
* In Python a function is defined using the **def** keyword:

In [225]:
def my_function():
  print("Hello from a function") # No one calls. So no output at all

## Calling a Function
* To call a function, use the function name followed by parenthesis:

In [226]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

## Arguments
* Information can be passed into functions as arguments.

* Arguments are specified after the function name, inside the parentheses.
* You can add as many arguments as you want, just separate them with a comma.

* The following example has a function with one argument (fname). When the function is called,
* we pass along a first name, which is used inside the function to print the full name:

In [227]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

## From a function's perspective:
* A parameter is the variable listed inside the parentheses in the function definition.
* An argument is the value that is sent to the function when it is called.


## Number of Arguments
* By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [228]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

## Keyword Arguments
* You can also send arguments with the **key = value** syntax.
* This way the order of the arguments does not matter.

In [229]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

## Passing a List as an Argument
* You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.
* E.g. if you send a List as an argument, it will still be a List when it reaches the function:

In [230]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

## Return Values
* To let a function return a value, use the return statement:

In [231]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

## The pass Statement
* function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.

In [232]:
def myfunction():
  pass

## Recursion
* Python also accepts function recursion, which means a defined function can call itself.

* Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

* The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

* In this example, tri_recursion() is a function that we have defined to call itself ("recurse"). We use the k variable as the data, which decrements (-1) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

* To a new developer it can take some time to work out how exactly this works, best way to find out is by testing and modifying it.

In [233]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

# Lambda
* A lambda function is a small anonymous function.
* A lambda function can take any number of arguments, but can only have one expression.
* Syntax => lambda arguments : expression

In [234]:
x = lambda a : a + 10
print(x(5))

15

## Lambda functions can take any number of arguments:

In [235]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [236]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

## Why Use Lambda Functions?
* The power of lambda is better shown when you use them as an anonymous function inside another function.

* Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [237]:
def myfunc(n):
  return lambda a : a * n

* use that function definition to make a function that always triples the number you send in:

In [238]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(2)

print(mytripler(11))

22

* Or, use the same function definition to make a function that always triples the number you send in:

In [239]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

## use the same function definition to make both functions, in the same program:

In [240]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33