# Tuple
* Tuples are used to store multiple items in a single variable.
* Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.
* A tuple is a collection which is ordered and unchangeable.
* Tuples are written with round brackets.

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

## Tuple Items
* Tuple items are ordered, unchangeable, and allow duplicate values.
* Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

## Ordered
* When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

## Unchangeable
* Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

## Allow Duplicates
* Since tuples are indexed, they can have items with the same value:

In [2]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

## Tuple Length
=> To determine how many items a tuple has, use the **len()** function:

In [3]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

## Create Tuple With One Item
* To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [4]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

## Tuple Items - Data Types
* Tuple items can be of any data type:

In [5]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

tuple4 = ("abc", 34, True, 40, "male")   # A tuple can contain different data types

## type()
* From Python's perspective, tuples are defined as objects with the data type 'tuple':
* <class 'tuple'>

In [6]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

## The tuple() Constructor
* It is also possible to use the tuple() constructor to make a tuple.

In [7]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

## Access Tuple Items
* You can access tuple items by referring to the index number, inside square brackets
* Note: The first item has index 0.

In [8]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

## Negative Indexing
* Negative indexing means start from the end.
* -1 refers to the last item, -2 refers to the second last item etc.

In [9]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

## Range of Indexes
* You can specify a range of indexes by specifying where to start and where to end the range.
* When specifying a range, the return value will be a new tuple with the specified items.

In [10]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5]) # Note: The search will start at index 2 (included) and end at index 5 (not included).

('cherry', 'orange', 'kiwi')

* By leaving out the start value, the range will start at the first item:

In [11]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

* By leaving out the end value, the range will go on to the end of the list:

In [12]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

## Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.
* But there are some workarounds.

## Change Tuple Values
* Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.
* But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [13]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

## Add Items
* Since tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple.

## 1. Convert into a list:
* Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [14]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

## 2. Add tuple to a tuple. 
* You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [15]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)  

# Note: When creating a tuple with only one item,
# remember to include a comma after the item, otherwise it will not be identified as a tuple.

('apple', 'banana', 'cherry', 'orange')

## Remove Items
* Note: You cannot remove items in a tuple.
* Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [16]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

## Or you can delete the tuple completely:

In [17]:
thistuple = ("apple", "banana", "cherry")
del thistuple
# Printing thistuple will raise an error because the tuple no longer exists

## Unpacking a Tuple
* When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [19]:
fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

## But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

* Note: The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

In [20]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

## Loop Through a Tuple
* You can loop through the tuple items by using a for loop.

In [21]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

## Loop Through the Index Numbers
* You can also loop through the tuple items by referring to their index number.
* Use the range() and len() functions to create a suitable iterable.

In [22]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

## Using a While Loop
* You can loop through the list items by using a while loop.
* Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by refering to their indexes.
* Remember to increase the index by 1 after each iteration.

In [23]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

## Join Two Tuples
* To join two or more tuples you can use the + operator:

In [24]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

## Multiply Tuples
* If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [25]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

## Tuple Methods
## Python has two built-in methods that you can use on tuples.

## Method => Description
* count() => Returns the number of times a specified value occurs in a tuple
* index() => Searches the tuple for a specified value and returns the position of where it was found